// Custom variables first
@import 'sunday-bootstrap/variables';

// Then Bootstrap
@import 'bootstrap/bootstrap';

// Core mixins
@import 'sunday-bootstrap/mixins';

// Core CSS
@import 'sunday-bootstrap/scaffolding';
@import 'sunday-bootstrap/type';

html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
  position: relative;
}

body {
  > aside {
    @include clearfix();
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: $zindex-navbar;
    width: 100%;
    height: $navbar-height - 8;
    background-color: $navbar-default-bg;
    @media (min-width: $screen-sm-min) {
      top: 0;
      bottom: none;
      float: left;
      width: 20%;
      height: auto;
      //border-right: 1px solid $navbar-default-border;
    }
    .logo-bar {
      background-color: $navbar-default-bg;
      position: relative;
      z-index: $zindex-navbar;
      .logo {
        @extend .text-hide;
        display: block;
        position: relative;
        margin: 0 auto;
        width: $navbar-height - 8;
        background: image-url('corona.svg') no-repeat;
        background-position: 50% 50%;
        background-size: 32px 32px;
        &:before {
          @include proportionate-height();
          @include ratio-to-height(1, 1.618);
        }
        @media (min-width: $screen-sm-min) {
          position: static;
          float: left;
          width: 100%;
          background-size: 64px 64px;
        }
      }
    }
    nav {
      @include transition(top .3s .3s ease);
      float: left;
      width: 100%;
      position: absolute;
      top: 0;
      font-family: $nav-font-family;
      font-weight: $nav-font-weight;
      background-color: $navbar-default-bg;
      box-shadow: inset 0 -9px 0 0 lighten($brand-primary, 50%);
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      @media (min-width: $screen-sm-min) {
        float: none;
        position: static;
        text-align: center;
        box-shadow: none;
        font-size: $font-size-small;
        text-transform: uppercase;
      }
      ul {
        float: left;
        padding: 0 6px;
        white-space: nowrap;
        min-width: 100%;
        @media (min-width: $screen-sm-min) {
          float: none;
          padding: 0 4px;
        }
        li {
          display: inline-block;
          min-width: 16.666%;
          @media (min-width: $screen-sm-min) {
            display: block;
          }
          a {
            display: block;
            line-height: 1.6;
            padding: 11px 12px 20px;
            font-weight: $nav-font-weight;
            text-align: center;
            @media (min-width: $screen-sm-min) {
              padding: 0;
            }
          }
        }
      }
    }
  }
  #main {
    float: left;
    width: 100%;
    @media (min-width: $screen-sm-min) {
      margin-left: 20%;
      width: 80%;
    }
  }
}


.menu-toggle {
  @extend .text-hide;
  padding: 18px 16px;
  position: absolute;
  z-index: $zindex-navbar;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  @media (min-width: $screen-sm-min) {
    display: none;
  }
  > .icon-bar {
    border-radius: 1px;
    display: block;
    width: 16px;
    height: 2px;
    position: absolute;
    background-color: $brand-primary;
    @include transform-origin(50% 50%);
    transition: top .2s .3s ease, -webkit-transform .2s ease;
    transition: top .2s .3s ease, transform .2s ease;
    &.bar-top {
      top: 19px;
    }
    &.bar-bottom {
      top: 27px;
    }
  }
}

.menu-open {
  > aside nav {
    top: -48px;
  }
  .menu-toggle {
    > .icon-bar {
      transition: top .2s ease, -webkit-transform .2s .3s ease;
      transition: top .2s ease, transform .2s .3s ease;
      top: 23px;
      &.bar-top {
        -webkit-transform: rotate3d(0,0,1,45deg);
        transform: rotate3d(0,0,1,45deg);
      }
      &.bar-bottom {
        -webkit-transform: rotate3d(0,0,1,-45deg);
        transform: rotate3d(0,0,1,-45deg);
      }
    }
    
  }
}


// Tiles

[class^="tile-col-"] {
  float: left;
  position: relative;
  width: 100%;
  &:before {
    @include proportionate-height();
  }
  @media (min-width: $screen-sm-min) {
    float: right;
    margin-left: -100%;
  }
}

[class^="tile-col-"].tile-hero {
  &:before {
    // iPhone < 5
    @media screen and (device-aspect-ratio: 2/3) {
      padding-bottom: 324px;
    }
    // iPhone 5+
    @media screen and (device-aspect-ratio: 40/71) and (-webkit-min-device-pixel-ratio: 2) {
      padding-bottom: 412px;
    }
    // iPhone 6 Portrait
    @media screen and (device-aspect-ratio: 375/667) and (-webkit-min-device-pixel-ratio: 2) {
      padding-bottom: 512px;
    }
    // iPhone 6 Landscape
    @media screen and (device-aspect-ratio: 375/667) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
      padding-bottom: 412px;
    }
    // iPhone 6 Plus Portrait
    @media screen and (device-aspect-ratio: 9/16) and (-webkit-min-device-pixel-ratio: 3) {
      padding-bottom: 581px;
    }
    // iPhone 6 Plus Landscape
    @media screen and (device-aspect-ratio: 9/16) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
      padding-bottom: 456px;
    }
    // iPad Portrait
    @media screen and (device-aspect-ratio: 3/4) {
      padding-bottom: 100%;
    }
    // iPad landscape
    @media screen and (device-aspect-ratio: 3/4) {
      padding-bottom: 704px;
    }
  }
}


// Tile content vertical centering

.tile-content {
  @include bullseye();
  position: absolute;
  z-index: 100;
  margin: 0 auto;
  padding: 48px;
  width: 100%;
  @media (min-width: $screen-sm-min) {
    padding: 64px;
    text-align: center;
  }
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 0;
  }
  .lead {
    margin: 0;
  }
}

// Generate bg shades

@for $index from 1 through 8 {
  .tile-shaded:nth-child(#{$index}n-#{$index}) {
    @include random-persian-blue-shade();
  }
}

// Tile ratios

@for $i from 1 through 6 {
  @for $j from 1 through 6 {
    .tile-ratio-#{$i}-#{$j} {
      &:before {
        @include ratio-to-height($i, $j);
      }
    }
  }
}

@for $i from 1 through 6 {
  .tile-ratio-#{$i}-v {
    height: auto;
    padding-bottom: 0;
    background-color: transparent !important;
    .tile-content {
      position: static;
      top: auto;
      max-width: 784px;
      @include translate(0, 0);
    }
  }
}



// Tile widths + offsets

//@media (min-width: $screen-sm-min) {
//  @for $index from 1 through 4 {
//    .tile-col-#{$index} {
//      width: $index * 50%;
//    }
//  }
//  @for $index from 0 through 3 {
//    .tile-offset-#{$index} {
//      margin-right: (3 - $index) * 50%;
//    }
//  }
//}

@media (min-width: $screen-md-min) {
  @for $index from 1 through 4 {
  	.tile-col-#{$index} {
  		width: $index * 25%;
  	}
  }
  @for $index from 0 through 3 {
    .tile-offset-#{$index} {
      margin-right: (3 - $index) * 25%;
    }
  }
}

// New row

.clear-tile {
  clear: both;
}

// Images

[class^="tile-col-"] > [data-picture] {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  > span {
    display: block;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height: 100%;
    @include bullseye();
  }
}


// Tile for services

.tile-service {
  background-position: 50% 40%;
  background-repeat: no-repeat;
  .tile-content {
    padding: 0;
    .tile-caption {
      color: white;
    }
  }
}

$services: service product retail mobility;
.svg {
  @each $service in $services {
    .tile-#{$service}-design {
      background-image: url('../images/icons/#{$service}_design.svg');
    }
  }
}
.no-svg {
  @each $service in $services {
    .tile-#{$service}-design {
      background-image: url('../images/icons/#{$service}_design.png');
    }
  }
}


// Tile captions

.tile-caption {
  font-size: $font-size-xs;
  font-weight: 200;
  letter-spacing: 0;
  text-transform: capitalize;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 40px;
  width: 100%;
  color: $text-color;
}

.tile-label {
  font-size: $font-size-small;
  font-weight: 200;
  letter-spacing: 0;
  text-transform: capitalize;
  text-align: center;
  margin: 0;
  width: 100%;
  color: white;
}