// Custom variables first
@import 'sunday-bootstrap/variables';

// Then Bootstrap
@import 'bootstrap/bootstrap';

// Core mixins
@import 'sunday-bootstrap/mixins';

// Core CSS
@import 'sunday-bootstrap/scaffolding';
@import 'sunday-bootstrap/type';

html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
  position: relative;
}

body {
  > aside {
    @include clearfix();
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: $zindex-navbar;
    width: 100%;
    height: $navbar-height - 8;
    background-color: $navbar-default-bg;
    @media (min-width: $screen-md-min) {
      top: 0;
      bottom: none;
      float: left;
      width: 20%;
      height: auto;
      //border-right: 1px solid $navbar-default-border;
    }
    .logo-bar {
      background-color: $navbar-default-bg;
      position: relative;
      z-index: 1000;
      .logo {
        @extend .text-hide;
        display: block;
        position: relative;
        margin: 0 auto;
        width: $navbar-height - 8;
        background: image-url('corona.svg') no-repeat;
        background-position: 50% 50%;
        background-size: 32px 32px;
        &:before {
          @include proportionate-height();
          @include ratio-to-height(1, 1.618);
        }
        @media (min-width: $screen-md-min) {
          position: static;
          float: left;
          width: 100%;
          background-size: 64px 64px;
        }
      }
    }
    nav {
      @include transition(top .3s .3s ease);
      float: left;
      width: 100%;
      position: absolute;
      top: 0;
      font-family: $nav-font-family;
      font-weight: $nav-font-weight;
      background-color: $navbar-default-bg;
      box-shadow: inset 0 -9px 0 0 lighten($brand-primary, 50%);
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      z-index: 0;
      @media (min-width: $screen-md-min) {
        float: none;
        position: static;
        text-align: center;
        box-shadow: none;
        font-size: $font-size-small;
        text-transform: uppercase;
      }
      ul {
        float: left;
        padding: 0 6px;
        white-space: nowrap;
        min-width: 100%;
        @media (min-width: $screen-md-min) {
          float: none;
          padding: 0 4px;
        }
        li {
          display: inline-block;
          min-width: 16.666%;
          @media (min-width: $screen-md-min) {
            display: block;
          }
          a {
            display: block;
            line-height: 1.6;
            padding: 11px 12px 20px;
            font-weight: $nav-font-weight;
            text-align: center;
            @media (min-width: $screen-md-min) {
              padding: 0;
            }
          }
        }
      }
    }
  }
  #main {
    float: left;
    width: 100%;
    padding-bottom: $navbar-height - 8;
    @media (min-width: $screen-md-min) {
      padding-bottom: 0;
      margin-left: 20%;
      width: 80%;
    }
  }
}


// Active nav indication
$sections: work services people and-sunday lab contact;
@each $section in $sections {
  .#{$section} #nav-#{$section} {
    a {
      color: lighten($brand-primary, 40%);
    }
  }
}


.menu-toggle {
  @extend .text-hide;
  padding: 18px 16px;
  position: absolute;
  z-index: $zindex-navbar;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  @media (min-width: $screen-md-min) {
    display: none;
  }
  > .icon-bar {
    border-radius: 1px;
    display: block;
    width: 16px;
    height: 2px;
    position: absolute;
    background-color: $brand-primary;
    @include transform-origin(50% 50%);
    transition: top .2s .3s ease, -webkit-transform .2s ease;
    transition: top .2s .3s ease, transform .2s ease;
    &.bar-top {
      top: 19px;
    }
    &.bar-bottom {
      top: 27px;
    }
  }
}

.menu-open {
  > aside nav {
    top: -48px;
  }
  .menu-toggle {
    > .icon-bar {
      transition: top .2s ease, -webkit-transform .2s .3s ease;
      transition: top .2s ease, transform .2s .3s ease;
      top: 23px;
      &.bar-top {
        -webkit-transform: rotate3d(0,0,1,45deg);
        transform: rotate3d(0,0,1,45deg);
      }
      &.bar-bottom {
        -webkit-transform: rotate3d(0,0,1,-45deg);
        transform: rotate3d(0,0,1,-45deg);
      }
    }
    
  }
}


// Tiles

[class^="tile-col-"] {
  float: left;
  position: relative;
  width: 100%;
  &:before {
    @include proportionate-height();
  }
  @media (min-width: $screen-md-min) {
    float: right;
    margin-left: -100%;
  }
}

[class^="tile-col-"].tile-hero {
  .tile-content {
    [class^="tile-label-"] {
      text-align: left;
      @media (min-width: $screen-sm-min) {
        text-align: center;
      }
      @media (min-width: $screen-md-min) {
        padding-left: 80px;
        padding-right: 80px;
      }
    }
  }
  &:before {
    // iPhone < 5
    @media screen and (device-aspect-ratio: 2/3) {
      padding-bottom: 324px;
    }
    // iPhone 5+
    @media screen and (device-aspect-ratio: 40/71) and (-webkit-min-device-pixel-ratio: 2) {
      padding-bottom: 412px;
    }
    // iPhone 6 Portrait
    @media screen and (device-aspect-ratio: 375/667) and (-webkit-min-device-pixel-ratio: 2) {
      padding-bottom: 512px;
    }
    // iPhone 6 Landscape
    @media screen and (device-aspect-ratio: 375/667) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
      padding-bottom: 412px;
    }
    // iPhone 6 Plus Portrait
    @media screen and (device-aspect-ratio: 9/16) and (-webkit-min-device-pixel-ratio: 3) {
      padding-bottom: 581px;
    }
    // iPhone 6 Plus Landscape
    @media screen and (device-aspect-ratio: 9/16) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
      padding-bottom: 456px;
    }
    // iPad Portrait
    @media screen and (device-aspect-ratio: 3/4) {
      padding-bottom: 100%;
    }
    // iPad landscape
    @media screen and (device-aspect-ratio: 3/4) {
      padding-bottom: 704px;
    }
  }
}


// Tile content vertical centering

.tile-content {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  padding: 16px;
  [class^="tile-label"] {
    float: left;
    position: absolute;
    margin: 0;
    padding: 24px;
    .tile-meta {
      font-size: $font-size-xs;
      font-family: $font-family-serif;
    }
  }
  .tile-label-center {
    @include bullseye();
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
    text-align: center;
  }
  .tile-label-wnw {
    top: 0;
    left: 0;
  }
  .tile-label-nw {
    top: 0;
    left: 0;
  }
  .tile-label-nnw {
    top: 0;
    left: 0;
  }
  .tile-label-n {
    top: 0;
    width: 100%;
    text-align: center;
  }
  .tile-label-nne {
    top: 0;
    right: 0;
    text-align: right;
  }
  .tile-label-ne {
    top: 0;
    right: 0;
    text-align: right;
  }
  .tile-label-ene {
    top: 0;
    right: 0;
    text-align: right;
  }
  .tile-label-w {
    @include vertical-align-middle();
    left: 0;
  }
  .tile-label-w {
    @include vertical-align-middle();
    right: 0;
  }
  .tile-label-wsw {
      bottom: 0;
      left: 0;
    }
  .tile-label-sw {
    bottom: 0;
    left: 0;
  }
  .tile-label-ssw {
    bottom: 0;
    left: 0;
  }
  .tile-label-s {
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  .tile-label-sse {
    bottom: 0;
    right: 0;
    text-align: right;
  }
  .tile-label-se {
    bottom: 0;
    right: 0;
    text-align: right;
  }
  .tile-label-ese {
    bottom: 0;
    right: 0;
    text-align: right;
  }
  .lead:last-child {
    margin: 0;
  }
  // Midpoints
  .tile-label-ese,
  .tile-label-wsw {
    @media (min-width: $screen-md-min) {
      bottom: 20%;
    }
  }
  .tile-label-ssw,
  .tile-label-nnw {
    @media (min-width: $screen-md-min) {
      left: 20%;
    }
  }
  .tile-label-nne,
  .tile-label-sse {
    @media (min-width: $screen-md-min) {
      right: 20%;
    }
  }
  .tile-label-ene,
  .tile-label-wnw {
    @media (min-width: $screen-md-min) {
      top: 20%;
    }
  }
}

// Label styles

.label-caption {
  font-size: $font-size-small;
  font-weight: 200;
  letter-spacing: 0;
  color: $text-color;
  @media (min-width: $screen-sm-min) {
    font-size: $font-size-xs;
  }
}

.label-heading {
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 4px 0;
  @media (min-width: $screen-sm-min) {
    margin: 0;
  }
}

.label-reversed {
  color: white;
}

.label-muted {
  opacity: 0.48;
}


// Generate bg shades

@for $index from 1 through 10 {
  .tile-shaded:nth-child(#{$index}n-#{$index}) {
    @include random-persian-blue-shade();
  }
}
@for $index from 1 through 10 {
  .tile-muted:nth-child(#{$index}n-#{$index}) {
    @include random-persian-blue-shade(16);
  }
}

// Tinted

.tile-tinted {
  .tile-content {
    background-color: rgba(red($brand-primary), green($brand-primary), blue($brand-primary), 0.8);
  }
}

// Tile ratios

@for $i from 1 through 6 {
  @for $j from 1 through 6 {
    .tile-ratio-#{$i}-#{$j} {
      &:before {
        @include ratio-to-height($i, $j);
      }
    }
  }
}

@for $i from 1 through 6 {
  .tile-ratio-#{$i}-v {
    &:before {
      height: auto;
      padding-bottom: 0;
    }
    background-color: transparent !important;
    .tile-content {
      @include clearfix();
      position: static;
      padding-top: 24px;
      padding-bottom: 24px;
      margin-left: -16px;
      margin-right: -16px;
      left: auto;
      top: auto;
      @media (min-width: $screen-sm-min) {
        padding-top: 64px;
        padding-bottom: 64px;
      }
      [class^="tile-label"] {
        position: static;
        left: auto;
        top: auto;
        @include translate(0, 0);
      }
      .tile-label-center {
        text-align: left;
        @media (min-width: $screen-sm-min) {
          text-align: center;
          margin: 0 auto;
          float: none;
          max-width: 784px;
        }
      }
    }
  }
}



// Tile widths + offsets

//@media (min-width: $screen-sm-min) {
//  @for $index from 1 through 4 {
//    .tile-col-#{$index} {
//      width: $index * 50%;
//    }
//  }
//  @for $index from 0 through 3 {
//    .tile-offset-#{$index} {
//      margin-right: (3 - $index) * 50%;
//    }
//  }
//}

@media (min-width: $screen-md-min) {
  @for $index from 1 through 4 {
  	.tile-col-#{$index} {
  		width: $index * 25%;
  	}
  }
  @for $index from 0 through 3 {
    .tile-offset-#{$index} {
      margin-right: (3 - $index) * 25%;
    }
  }
}

// New row

.clear-tile {
  clear: both;
}

// Images

[class^="tile-col-"] > [data-picture] {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  > span {
    display: block;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height: 100%;
    @include bullseye();
  }
}


// Tile for services

.tile-service {
  background-position: 50% 40%;
  background-repeat: no-repeat;
  @media (min-width: $screen-md-min) {
    background-position: 50% 32%;
  }
  @media (min-width: $screen-lg-min) {
    background-position: 50% 40%;
  }
  .tile-content {
    padding: 0;
    .tile-caption {
      color: white;
    }
    @media (max-width: $screen-xs-max) {
      .tile-label-s {
        bottom: 16%;
      }
    }
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      .tile-label-s {
        bottom: 32%;
      }
    }
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      .tile-label-s {
        bottom: -8px;
      }
    }
  }
}

$services: service product retail mobility;
.svg {
  @each $service in $services {
    .tile-#{$service}-design {
      background-image: url('../images/icons/#{$service}_design.svg');
    }
  }
}
.no-svg {
  @each $service in $services {
    .tile-#{$service}-design {
      background-image: url('../images/icons/#{$service}_design.png');
    }
  }
}


#tile-contact {
  .tile-content {
    .tile-label-center {
      text-align: left;
      p {
        text-indent: 0;
      }
    }
  }
}
