<div id="contact">
  <ul><!--
    --><li class="contact-phone"><a href="tel:+65 8162 3547">+65 8162 3547</a></li><!--
    --><li class="contact-email"><a href="mailto:valli@madebysunday.co">valli@madebysunday.com</a></li><!--
    --><li class="contact-twitter"><a href="http://twitter.com/weluvsunday">@weluvesunday</a></li>
  </ul>
</div>