<div id="contact">
  <p>We are a Singapore-based studio available for work with brands and partners anywhere in the world.</p>
  <address>
    <a href="mailto:valli@madebysunday.co">valli@madebysunday.co</a><br>
    +65 8162 3547
  </address>
</div>