<div id="tile-contact" class="tile-col-2 tile-offset-2 tile-ratio-2-v clear-tile">
  <div class="tile-content">
    <div class="tile-label-center">
      <p>We are a Singapore-based studio available for work with brands and partners anywhere in the world.</p>
      <p><a href="mailto:valli@madebysunday.co">valli@madebysunday.co</a></p>
      <p>+65 8162 3547</p>
    </div>
  </div>
</div>