<aside>
  <%= link_to data.settings.name, '/', class: 'logo' %>
  <nav>
    <ul>
      <li><a href="#">Work</a></li><!--
      --><li><a href="#">Services</a></li><!--
      --><li><a href="#">People</a></li><!--
      --><li><a href="#">&amp;Sunday</a></li><!--
      --><li><a href="#">Labs</a></li><!--
      --><li><a href="#">Contact</a></li>
    </ul>
  </nav>
</aside>

<div id="main" role="main">
  <a href="#" class="ray-4"></a>
  <a href="#" class="ray-1 ray-offset-1 clear-ray"></a>
  <a href="#" class="ray-1 ray-offset-2 clear-ray"></a>
  <a href="#" class="ray-1 ray-offset-0 clear-ray"></a>
  <a href="#" class="ray-1 ray-offset-3"></a>
  <a href="#" class="ray-2 ray-offset-2 clear-ray"></a>
  <a href="#" class="ray-1 ray-offset-0 clear-ray"></a>
  <a href="#" class="ray-1 ray-offset-2"></a>
  <a href="#" class="ray-1 ray-offset-1 clear-ray"></a>
  <a href="#" class="ray-1 ray-offset-1"></a>
  <a href="#" class="ray-1 ray-offset-3"></a>
  <a href="#" class="ray-1 ray-offset-2 clear-ray"></a>
  <a href="#" class="ray-1 ray-offset-1 clear-ray"></a>
  <a href="#" class="ray-2 ray-offset-3 clear-ray"></a>
</div>