<aside>
  <div class="logo-bar">
    <%= link_to data.settings.name, '/', class: 'logo' %>
    <button class="menu-toggle">
      <span class="icon-bar bar-top"></span>
      <span class="icon-bar bar-bottom"></span>
    </button>
  </div>
  <nav>
    <ul>
      <li><a href="#">Work</a></li><!--
      --><li><a href="#">Services</a></li><!--
      --><li><a href="#">People</a></li><!--
      --><li><a href="#">&amp;Sunday</a></li><!--
      --><li><a href="#">Labs</a></li><!--
      --><li><a href="#">Contact</a></li>
    </ul>
  </nav>
</aside>

<div id="main" role="main">
  <a href="#" class="ray-md-4"></a>
  <a href="#" class="ray-md-1 ray-md-offset-1 clear-ray"></a>
  <a href="#" class="ray-md-1 ray-md-offset-2 clear-ray"></a>
  <a href="#" class="ray-md-1 ray-md-offset-0 clear-ray"></a>
  <a href="#" class="ray-md-1 ray-md-offset-3"></a>
  <a href="#" class="ray-md-2 ray-md-offset-2 clear-ray"></a>
  <a href="#" class="ray-md-1 ray-md-offset-0 clear-ray"></a>
  <a href="#" class="ray-md-1 ray-md-offset-2"></a>
  <a href="#" class="ray-md-1 ray-md-offset-1 clear-ray"></a>
  <a href="#" class="ray-md-1 ray-md-offset-1"></a>
  <a href="#" class="ray-md-1 ray-md-offset-3"></a>
  <a href="#" class="ray-md-1 ray-md-offset-2 clear-ray"></a>
  <a href="#" class="ray-md-1 ray-md-offset-1 clear-ray"></a>
  <a href="#" class="ray-md-2 ray-md-offset-3 clear-ray"></a>
</div>