---
title: Lab
---
<div class="tile-col-2 tile-offset-1 tile-ratio-3-v clear-tile">
  <div class="tile-content">
    <div class="tile-label-w">
      <h1 class="label-heading"><%= current_page.data.title %></h1>
    </div>
  </div>
</div>

<div class="tile-col-3 tile-offset-2 tile-ratio-3-v clear-tile">
  <div class="tile-content">
    <div class="tile-label-w">
      <p class="lead">An idea is best expressed in its making.</p>
      <p class="lead">And when a small group of smart people come together, that making becomes fun.</p>
      <p class="lead">And why do anything if it’s not fun?</p>
    </div>
  </div>
</div>

<div class="tile-col-2 tile-offset-1 tile-ratio-2-v clear-tile">
  <div class="tile-content">
    <div class="tile-label-w">
      <p>So, <strong>SUNDAY LAB</strong> is about collaborative prototyping. We believe prototypes are a great way of explaining an idea.</p>
      <p>If you are a brand that is stuck with an idea, we will put a talented team together for 1 to 3 days to create semi-working prototypes designed to give you fresh inspiration and direction.</p>
    </div>
  </div>
</div>