---
title: Services
---
<div class="tile-col-2 tile-offset-1 tile-ratio-3-v clear-tile">
  <div class="tile-content">
    <div class="tile-label-w">
      <h1 class="label-heading"><%= current_page.data.title %></h1>
    </div>
  </div>
</div>
<div class="tile-col-3 tile-offset-2 tile-ratio-3-v clear-tile">
  <div class="tile-content">
    <div class="tile-label-w">
      <p class="lead">We design and build beautiful experiences.</p>
      <p>Experiences that endeavour to advance life in a positive way. We believe in the sustainability of ideas, products and services. We live at the intersection of art, science and commerce. We are structured to deliver high quality multidisciplinary thinking. We collaborate with an amazingly talented group of individuals and organisations. We believe the best way to design is to <em>do</em>.</p>
    </div>
  </div>
</div>

<div id="service-design" class="tile-col-1 tile-offset-0 tile-ratio-1-1 tile-service-icon tile-service-design clear-tile"></div>

<div class="tile-col-3 tile-offset-3 tile-ratio-3-v">
  <div class="tile-content">
    <div class="tile-label-w">
      <h2 class="h3 label-heading">Service Design</h2>
      <p>When something is designed to make life better, the world becomes a better place. Every brand should want to make this meaningful connection with its users. At Sunday, we believe these connections are made through great service design. And we help create, build and manage user-centric services that last.</p>
    </div>
  </div>
</div>

<div id="product-design" class="tile-col-1 tile-offset-3 tile-ratio-1-1 tile-service-icon tile-product-design clear-tile"></div>

<div class="tile-col-3 tile-offset-2 tile-ratio-3-v">
  <div class="tile-content">
    <div class="tile-label-w">
      <h2 class="h3 label-heading">Product Design</h2>
      <p>From dawn to dusk, our lives are touched by interactions with several products. The products with the best user experience always win. The truth is, building products that become part of daily life and that people love isn’t always simple. However, we always strive to help clients design products that are both useful and beautiful.</p>
    </div>
  </div>
</div>

<div id="retail-design" class="tile-col-1 tile-offset-0 tile-ratio-1-1 tile-service-icon tile-retail-design clear-tile"></div>

<div class="tile-col-3 tile-offset-3 tile-ratio-3-v">
  <div class="tile-content">
    <div class="tile-label-w">
      <h2 class="h3 label-heading">Retail Design</h2>
      <p>The retail landscape has gone through more changes in the last three years than in the previous three decades. Thanks largely to technology and what it has been able to deliver users, brands and retailers. We believe a well designed retail experience can transform transactions. Our experiences with retail around the world have helped inform the best possible retail design principles.</p>
    </div>
  </div>
</div>

<div id="mobility-design" class="tile-col-1 tile-offset-3 tile-ratio-1-1 tile-service-icon tile-mobility-design clear-tile"></div>

<div class="tile-col-3 tile-offset-2 tile-ratio-3-v">
  <div class="tile-content">
    <div class="tile-label-w">
      <h2 class="h3 label-heading">Mobility Design</h2>
      <p>In recent times, nothing has changed the way we live more than Mobile devices. They are ubiquitous and intrinsic in our daily lives. Mobility is not just about having an app or a mobile site. Mobility is about Instantness and Usefulness. We design mobile experiences around these truths.</p>
    </div>
  </div>
</div>